<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, cum 
            dolore. Officiis unde aperiam ratione laborum? Excepturi tenetur
            suscipit quis similique recusandae eligendi dolores facilis odio
             saepe illo! Repellat.</p>
    </div>
</div>