
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">New note</div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Image route" ></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="type" class="form-control" placeholder="Type">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-log" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>